/*Dialogs Page Module CSS*/
.dialogs {
	display: flex;
	width: 100%;
	height: 100%;
	border: 2px solid #222;
	border-radius: 5px;
	padding: 10px;
}

.dialogsList {
	width: 20%;
	height: 100%;
	border-right: 1px solid #222;
	padding-right: 10px;
}

.user {
	display: flex;
	align-items: center;
	height: 50px;
	margin-right: 10px;
}

.messagesContainer {
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0 0 0 10px;
}

.messagesList {
	display: flex;
	flex-direction: column;
}


