/*Reset Styles ======================*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	outline: none;
	list-style: none;
	text-decoration: none;
}

/*=============================*/

.app-wrapper {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #000;
}

.container {
	width: 100%;
	display: flex;
	padding: 10px 20px;
}

.sidebar {
	width: 20%;
	max-height: calc(100vh - 80px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.main {
	width: 80%;
	display: flex;
	margin-left: 10px;
	padding: 0 10px;
}

button {
	width: 100px;
	height: 40px;
	border-radius: 5px;
	border: 1px solid #111;
	background: transparent;
	color: #888;
	cursor: pointer;
	transition: .3s all ease;
}

button:hover {
	border: 1px solid #1FDF64;
	color: #1FDF64;
	box-shadow: 0 0 4px 1px #1FDF64;
}

h1, h2, p {
	color: #888
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 36px;
}






