* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	outline: none;
	list-style: none;
	text-decoration: none;
	overflow: hidden;
}

.app-wrapper {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #000;
}

.container {
	width: 100%;
	display: flex;
	padding: 10px 20px;
}

.header {
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #222;
	padding: 0 15px;
}

.header-logo {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: yellowgreen;
}

.sidebar {
	width: 20%;
	display: flex;
	flex-direction: column;
}

.navigation {
	width: 100%;
	border-bottom: 1px solid #222;
}

.nav-list {
	display: flex;
	flex-direction: column;
}

.list-item {
	color: #555;
	height: 50px;
	width: 100%;
	display: flex;
	border-radius: 5px;
	align-items: center;
	margin: 0 5px 5px 0;
	padding: 0 5px;
	transition: .2s;
}

.list-item:hover {
	background: rgba(255, 255, 255, .1);
}

.footer {
	width: 100%;
	display: flex;
	align-self: end;
}

.copyrights p {
	color: #555
}

.main {
	width: 80%;
	display: flex;
}




