/*Dialogs CSS*/

.dialogs {
	display: flex;
	width: 100%;
	height: 100%;
	border: 2px solid #222;
	border-radius: 5px;
	padding: 10px;
}

.dialogsList {
	width: 20%;
	height: 100%;
	border-right: 1px solid #222;
	padding-right: 10px;
}

.user {
	display: flex;
	align-items: center;
	height: 50px;
	margin-right: 10px;
}

.userLogo {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid #1FDF64;
	margin-right: 5px;
}

.userName {
	color: #888;
}

.messagesContainer {
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0 0 0 10px;
}

.messagesList {
	display: flex;
	flex-direction: column;
}

.message {
	display: flex;
	align-items: center;
	border: 1px solid #222;
	padding: 5px;
	border-radius: 10px;
	margin-bottom: 5px;
}

.myMessage {
	display: flex;
	align-items: center;
	align-self: flex-end;
	border: 1px solid #222;
	border-radius: 10px;
	margin-bottom: 5px;
}

.myMessage p {
	margin-right: 5px;
}

.newMessage {
	margin-top: 10px;
	display: flex;
}

.newMessage textarea {
	display: flex;
	background: transparent;
	resize: none;
	color: #888;
	height: 40px;
	width: calc(100% - 100px);
	border: 1px solid #111;
	border-radius: 5px;
	margin-right: 10px;
	transition: .3s all ease-in;
	padding: 5px;
}

.newMessage textarea:focus {
	border: 1px solid #1FDF64;
	box-shadow: 0 0 4px 1px #1FDF64;
}